*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #fff;
    box-sizing: border-box;
}
header{
    /* overflow: visible; */
    /* box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.185); */
    /* width: 100%; */
    z-index: 999;
    position: sticky;
    /* height: 70px; */
    top: 0;
    padding: 20px;
    height: 100px;
    grid-area: header;
    background-color: #fff;
    background-image: url('../nav.png');
    /* background-size: 50%; */
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: -35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s ease;
}

header .logo{
    margin-bottom: 30px;
}

header ul{
    /* background-color: #ffffffd8; */
    width: 500px;
    margin-right: 13px;
    list-style: none;
    display: flex;
    margin-bottom: 25px;
    justify-content: space-around;
    gap: 25px;
}

header ul .slide{
    transform: translateX(0);
}

header ul li a:active{
    color: rgb(212, 181, 0);
}
.active{
    color: rgb(233, 198, 0);
}
.active2{
    color: rgb(233, 198, 0);
    background-color: gold;
}

header ul li a{
    text-decoration: none;
    color: #ffffff;
    /* transition: 1s ease; */
}
header ul li a:hover{
    color: rgb(212, 181, 0);
}

.menu-toggle{
    display: none;
}

.edit{
    position: absolute;
    z-index: 999999;
    width: 500px;
    position: absolute;
    height: 500px;
    left: 50%;
    top: 50%;
    /* transform: translate(-50%,-50%); */
    display: flex;
    border: 10px solid black;
    background-color: red;
    margin: 0px auto;
}

/* header{
    display: none;
} */

/* .container{
    padding-top: 50px;
    display: grid;
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    grid-template-areas: "pict desc"
                          "comment comment";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
} */

/* .pict{
    grid-area: pict;
    align-items: center;
    justify-content: center;
    display: flex;

}
.pict img{
    max-width: 450px;
} */

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 10px;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }
    
    .dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }
    
    .dropdown-content2 a:hover{
    background-color: goldenrod;
    color: white;
    border-radius: 10px;
    }
    
    .dropdown:hover .dropdown-content2 {
    display: block;
    
    }

footer{
    grid-area: footer;
    clear: both;
    position: relative;
    top: 150px;

}
footer{
    padding: 25px 0px;
    grid-area: footer;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    background-color: rgb(29, 29, 29);
    list-style: none;
    text-decoration: none;
}

.foot {
    line-height: 30px;
    font-size: 14px;
    /* background-color: #fff; */
}

.foot h1{
    font-size: 60px;
    /* font-weight: 1000; */
    font-weight: 900;
}

.foot a{
    color: white;
    text-decoration: none;
}
#para{
    /* height: 200px; */
    max-width: 300px;
    /* align-items: left; */
}

#lii{
    display: grid;
    place-items: center;
    line-height: 20px;
    height: 70%;
    min-width: 300px;
    /* align-items: center; */
    /* background-color: #ff8a8a56; */
}
#liii{
    margin-right: 50px;
    display: grid;
    place-items: center;
    height: 70%;
}

#line{
    height: 90%;
    width: 2px;
    background-color: white;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.desc{
    grid-area: desc;
    /* background-color: blue; */
}

.desc h2{
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 30px;
    /* margin-top: 30px; */
    /* margin-bottom: 10px; */
}

.desc h3{
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 40px;
}
.desc .outline{
    width: 100%;
    height: 270px;
    border: 1px solid black;
    margin-bottom: 8px;
    border-radius: 5px;


}
.desc p{
    /* border: 1px solid black; */
    padding: 15px;
}

#penerbit{
    max-width: 25px;
    border-radius: 50%;
    top: 28px;
    position: relative;
}
.add{
    margin-top: 100px;
    grid-area: add;
    /* background-color: orange; */
}


span{
  float: right;
}


.dropdown {
    display: flex;
    float: right;
    z-index: 99;
    
  }

  
  .dropbtn {
    /* background-color: #3498db; */
    background-color: transparent;
    /* color: white; */
    padding: 10px;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .dropbtn::after{
    outline: none;
    border: none;
  }

  .dropdown-content {
    display: none;
    border: none;
    position: absolute;
    float: left;
    background-color: #f9f9f9;
    min-width: 140px;
    left: -160px;
    top: 25px;
    outline: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }
  

.add{
    grid-area: add;
    /* background-color: #fdfdfd; */
    /* width: 100%; */
}

.add-post h2{
    font-weight: 900;
    margin-bottom: 40px;
    font-style: bold;
}

form h2{
    margin-bottom: 40px;
    text-align: center;
}


form{
    width: 50%;
    margin: 0 auto;
    background-color: rgb(250, 250, 250);
    padding: 40px;
    /* box-shadow: 1px 2px 2px rgb(104, 104, 104); */
    border-radius: 10px;
    /* border: .5px solid rgb(218, 218, 218); */
    /* border: 2px solid goldenrod; */
}
form input{
    background-color: transparent;
    width: 100%;
    outline: none;
    line-height: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid rgb(160, 160, 160);
}
form textarea{
    background-color: transparent;
    height: 70px;
    width: 100%;
    outline: none;
    line-height: 20px;
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 3px;
    /* border: none; */
    border: 1px solid rgb(160, 160, 160);
}
form textarea::placeholder{
    position: relative;
    /* top: 50%; */
}

.custom-file-input img{
    max-width: 50px;
    opacity: .3;
}

 .hidden-input {
  display: none;
  width: 100%;
}
.custom-file-input label{
    color: black;
    font-size: 13px;
    display: none;
}
/* Style the custom file input container */
.custom-file-input {
    cursor: pointer;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
    display: grid;
    width: 100%;
    height: 100px;
    color: black;
  /* position: relative; */
  /* display: inline-block; */
  /* background-color: red; */
  border: 1px solid rgb(182, 182, 182);
}

/* Style the custom label to look like a button */
.custom-label {
  display: inline-block;
  padding: 10px 20px;
  /* background-color: #3498db; */
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

/* Optional: Style the label on file selection */
.custom-file-input input[type="file"]:not(:focus) + .custom-label {
  /* background-color: #2c3e50; */
}
 

/* Style the dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    cursor: pointer;
  }
  
  /* Style the text input */
  .text-input {
    cursor: pointer;
    /* padding: 10px; */
  }
  
  /* Style the dropdown content */
  .dropdown-content {
    display: none;
    position: absolute;
    list-style: none;
    left: 20px;
    /* margin: 0; */
    /* padding: 0; */
    border: 1px solid #ccc;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  /* Style the dropdown list items */
  .dropdown-content li {
    padding: 10px;
    cursor: pointer;
  }
  
  /* Change color on hover */
  .dropdown-content li:hover {
    background-color: #ddd;
  }
  



button{
    padding: 7px;
    width: 100%;
    /* width: 150px; */
    color: rgba(255, 255, 255, 0.932);
    background-color: #dab900;
    /* border: 1px solid black; */
    margin-top: 10px;
    border: none;
    font-weight: bold;
    box-shadow: 1px 2px 2px gray;
}

button:hover{
    opacity: .7;
}

#upload{
    padding: 50px;
    /* background-color: red; */
    height: 100px;
    border: 1px solid rgb(160, 160, 160);
    float: center;
    border-radius: 5px;
    width: 100%;
}


/* 
.subtittle textarea{
    width: 100%;
    margin-top: 100px;
    padding: 100px;
}

.add-post textarea{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
} */

/* .add-post{ */
    /* margin-top: 10px;
}

.add{
    color: #000000;
    background-color: gold;
    border: 1px solid black;
    border-radius: 20px;
    width: 150px;
    padding: 5px;
    float: center;
    margin-top: 15px;
}

.add:hover{
background-color: rgb(255, 236, 126);
} */


@media screen and (max-width:746px) {

    .foot{
        font-size: 10px;
    }
    #para{
        display: none;
    }
    #line{
        display: none;
    }
    .foot h1{
        display: none;
    }

    #liii{
        margin-right: 170px;
    }
    header{
        background-image:none;
    }
    header ul{
        position: absolute;
        /* display: none; */
        right: 0;
        top: 0;
        width: 60%;
        height: 80vh;
        justify-content: space-evenly;
        flex-direction: column;
        z-index: -1;
        align-items: center;
        background-color: rgb(71, 71, 71);
        transform: translateX(120%);
        transition: all .5s;

    }
    body.scroll.side{
        display: none;
    }
    .menu-toggle{
        margin-bottom: 30px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        height: 20px;
        justify-content: space-between;
    }
    
    .menu-toggle span{
        display: block;
        width: 28px;
        height: 3px;
        background-color: black;
        border-radius: 3px;
    }
    
    .menu-toggle input{
        width: 40px;
        height: 30px;
        position: absolute;
        opacity: 0;
        right: 23px;
        z-index: 9999;
        /* transition: .5s; */
    }
    
    .menu-toggle span:nth-child(2){
        transform-origin: 0 0;
        transition: .5s; 
    }
    .menu-toggle span:nth-child(4){
        transform-origin: 0 100%;
        transition: .5s;
    }
    .menu-toggle span:nth-child(3){
        transition: .5s;
    }
    
    .menu-toggle input:checked ~ span:nth-child(2){
        transform: rotate(45deg) translate(-1px, -1px);
        transition: .5s;
        background-color: #fff;
    }
    .menu-toggle input:checked ~ span:nth-child(3){
        transform:scale(0);
        /* opacity: 0;
        transition: .5s; */
    }
    .menu-toggle input:checked ~ span:nth-child(4){
        transform: rotate(-45deg) translate(-1px, 0);
        transition: .5s; 
        background-color: #fff;
    }
    header ul.slide{
        transform: translateX(0%);
    }
    .wrapper{
        overflow: hidden;
    }
    header{
        width: 100%;
        position: fixed;
        /* overflow: visible; */
    }
    .side{
        overflow: visible;
    }
    form{
        margin-top: 100px;
    }
}
@media screen and (max-width:578px) {
    
    .wrapper{
        overflow: hidden;
    }
    header{
        width: 100%;
        position: fixed;
        /* overflow: visible; */
    }
    .side{
        overflow: visible;
    }

    

    header ul{
        position: absolute;
        /* display: none; */
        right: 0;
        top: 0;
        width: 60%;
        height: 80vh;
        justify-content: space-evenly;
        flex-direction: column;
        z-index: -1;
        align-items: center;
        background-color: rgb(71, 71, 71);
        transform: translateX(120%);
        transition: all.2s;
    }

    header ul.slide{
        transition: all .5s;
        transform: translateX(0);
    }

    /* .side ul{
        padding-right: 26px;
    } */

    body.scroll .side{
        display: none;
    }
  
       .side ul li{
    width: 25%;
  }
.menu-toggle{
    margin-bottom: 30px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
}

.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
}

.menu-toggle input{
    width: 40px;
    height: 30px;
    position: absolute;
    opacity: 0;
    right: 23px;
    z-index: 9999;
    /* transition: .5s; */
}

.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
    transition: .5s; 
}
.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
    transition: .5s;
}
.menu-toggle span:nth-child(3){
    transition: .5s;
}
.menu-toggle input:checked ~ span{
    background-color: #fff;
}
.menu-toggle input:checked ~ span:nth-child(2){
    transform: rotate(45deg) translate(-1px, -1px);
    transition: .5s;
}
.menu-toggle input:checked ~ span:nth-child(3){
    transform:scale(0);
    /* opacity: 0;
    transition: .5s; */
}
.menu-toggle input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) translate(-1px, 0);
    transition: .5s; 
}

}